<tr><td>
	<%= link_to "List all", :controller => "admin", :action => "list"%>	
  
</td></tr>

<tr><td>
	<%= link_to "SE Report", :controller => "admin", :action => "se_report"%>	
  
</td></tr>

<tr><td>
	<%= link_to "Tag Report", :controller => "label", :action => "tag_report"%>	
  
</td></tr>
